.App {
  text-align: center;
}
.wrapperTwo {
  background-image: url('./elements/images/image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  background: yellow;
}

.wrapper,
.wrapperTwo {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
